
*{
    margin: 0;
    padding: 0;
}
p {
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(2, 156, 122, 0.546);
}
a{
    text-decoration: none;
}
section article p {
    text-align: right;
    line-height: 1.6px;
    text-decoration: line-through;
    font-weight: bold;
    font-style:normal;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: tomato;
}
.cuadro{
    width: 150px;
    height: 150px;
    background-color: tomato;
}
.m-5px{
    margin: 5px;
}

.c-verde{
    background-color: greenyellow;
}

.borde-cuadro{
    border-radius: 15px;
}
#rectangulo{
    width: 300px;
    height: 100px;
    background-color: aqua;
}
#entradaDatoTexto{
    background-color: black;
    color: white;
}

ul li{
    color:red;
}
ul ol li {
    color:black;
}
.dondoDiv{
    background-image: url("https://images.unsplash.com/photo-1648737965402-2b9c3f3eaa6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
