
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(39, 39, 39, 0.993);
  font-family: "Montserrat", sans-serif;
}

body h1 {
  display: block;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 75.273px;
  line-height: 117px;
}

@media (max-width: 599px) {
  body h1 {
    font-size: 55px;
    line-height: 98px;
  }
}

body h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 58.0501px;
  line-height: 71px;
}

@media (max-width: 599px) {
  body h2 {
    font-size: 39px;
    line-height: 52px;
  }
}

body h3 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 48.0501px;
  line-height: 71px;
}

@media (max-width: 599px) {
  body h3 {
    font-size: 29px;
    line-height: 52px;
  }
}

body p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 52px;
  color: #5e636e;
}

@media (min-width: 768px) and (max-width: 991px) {
  body p {
    font-size: 21px;
    line-height: 40px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  body p {
    font-size: 20px;
    line-height: 40px;
  }
}

@media (max-width: 599px) {
  body p {
    font-size: 20px;
    line-height: 40px;
  }
}

body a {
  color: inherit;
  text-decoration: inherit;
}

body header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 30px 12px 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53.17%, #ffffff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #ffffff 53.17%, rgba(255, 255, 255, 0) 100%);
  height: 100px;
}

@media (min-width: 1024px) and (max-width: 1619px) {
  body header {
    padding: 10px 120px 12px 120px;
  }
}

body footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  height: 45px;
  width: 100%;
}

body blockquote,
body dd,
body dl,
body figure,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body hr,
body p,
body pre {
  margin: 0;
}

body .grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
}

@media (max-width: 599px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) and (max-width: 1619px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1620px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.marvel {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 80px;
}

@media (min-width: 1024px) and (max-width: 1619px) {
  .marvel {
    padding-left: 180px;
    padding-right: 180px;
  }
}

@media (min-width: 1620px) {
  .marvel {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.marvel__intro {
  text-align: center;
}

.marvel__border {
  /* Colors / Black */
  border: 2px solid rgba(39, 39, 39, 0.993);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Shadow / 400 */
  -webkit-box-shadow: 0px 4px 0px rgba(39, 39, 39, 0.993);
          box-shadow: 0px 4px 0px rgba(39, 39, 39, 0.993);
  border-radius: 16px;
}

.marvel__section {
  margin-top: 40px;
}

.marvel__course {
  display: -ms-grid;
  display: grid;
  background: #fafafa;
  border-radius: 18px;
  width: 100%;
  min-height: 90px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.marvel__project {
  margin-top: 30px;
  width: 100%;
  height: 287px;
  background: #fafafa;
  border-radius: 53px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marvel__project__card {
  position: relative;
  border: 6px solid #a259fe;
}

.marvel__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
}

.marvel__flex div {
  margin: 15px;
}

.marvel__card {
  margin-top: 30px;
  height: 150px;
}

@media (max-width: 599px) {
  .marvel__card {
    height: 120px;
  }
}

.t__center {
  text-align: center;
}

.t__start {
  text-align: start;
}

.t__end {
  text-align: end;
}

.t__bold {
  font-weight: 800;
}

.t__regular {
  font-weight: 500;
}

.t__uva {
  color: #a259fe;
}


.t__marker {
  background-color: rgba(39, 39, 39, 0.993);
  color: white;
}

.fa {
  display: inline-table;
  padding: 15px;
  font-size: 28px;
  border-radius: 25%;
  background: rgba(39, 39, 39, 0.993);
  color: white;
}
