.cuadro-1{
    background-color: tomato; 
    width: 400px; 
    height: 400px;
}
.cuadro-2{
    background-color: blueviolet; 
    width: 300px; 
    height: 300px;
}
.cuadro-3{
    background-color: chocolate;
    width: 200px;
    height: 200px;
}
@media (max-width: 320px) {
    .cuadro-1{
        background-color: chartreuse;
        width: 100%;
    }
    .cuadro-2{
        width: 100%;
        background-color: darkorange;
    }
}
@media (min-width:321px) and (max-width:768px){
    .cuadro-2{
        display: none;
    }
}
@media (min-width: 769px), handheld{
    .cuadro-2{
        background-color: crimson;
        width: 100%;
    }
}
@media tv and (min-width: 998px) and (orientation:landscape){
    .cuadro-3{
        width: 100%;
        background-color: cyan;
    }
}