body {
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    background-color: tomato;
}

footer {
    display: grid;
    justify-content: center; /* Horizontal */
    align-items: center; /* vertical */
    grid-area: footer;
    background-color: #d4ff16;
}
footer h2 {
    justify-self: center;
    align-self: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: inline;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: aquamarine;
}

nav ul li:hover {
    background-color: tomato;
}

#plantilla {
    display: grid;
    height: 100vh;
    grid-template-areas:
        " header header" /* 100px */
        " producto publicidad" /* 2fr */
        " servicios publicidad" /* 3fr */
        " footer footer"; /* 170px */
    /* 20%  auto 300px  */
    grid-template-rows: 70px auto 3fr 170px;
    grid-template-columns: repeat(2, 3fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#servicios {
    background-color: aqua;
    grid-area: servicios;
}
#productos {
    grid-area: producto;
    background-color: darkgoldenrod;
}
.publicidad {
    grid-area: publicidad;
    background-color: blueviolet;
}

.menu {
    grid-area: menu;
    background-color: crimson;
}

.border-items {
    border: 3px;
    border-color: black;
    border-style: solid;
}

/* Estilos responsive */

@media screen and (max-width: 768px) {
    body {
        background: black;
    }
    #plantilla {
        grid-template-areas:
            " header header"
            " publicidad publicidad"
            " servicios producto"
            " footer footer";
        grid-template-rows: 70px 2fr 3fr 170px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}

@media (min-width: 1600px) {
    #plantilla {
        grid-template-areas:
            " header header"
            " publicidad publicidad"
            " servicios servicios"
            " producto producto"
            " footer footer";
        grid-template-rows: 70px 2fr 1fr 3fr 170px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    #productos {
        background-color: pink;
    }
}
